@use 'reset';


.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(127, 161, 255);
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);

    &:hover {
        background-color: rgb(127, 229, 255);
    }
}
